#sharpblue{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
#shadywater{
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
#dirtybeauty{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}
#WarmFlame{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
#NightFade{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
#SpringWarmth{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
#JuicyPeach{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
#YoungPassion{
    background-image: linear-gradient(to right, #ff8177 0%, #b12a5b 100%);
}
#LadyLips{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
#SunnyMorning{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
#RainyAshville{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
#FrozenDreams{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
#WinterNeva{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
#DustyGrass{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
#TemptingAzure{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#HeavyRain{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#AmyCrisp{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
#MeanFruitGet{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
#DeepBlue{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#RipeMalinka{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
#CloudyKnoxville{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
#MalibuBeach{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
#NewLife{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
#TrueSunset{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
#MorpheusDen{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
#RareWind{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#NearMoon{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
#WildApple{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
#SaintPetersburg{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#ArielleSmile{
    background-image: linear-gradient(to top, #32e9f3 0%, #46aef7 100%);
}
#PlumPlate{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
#EverlastingSky{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
#HappyFisher{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#Blessing{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
#SharpeyeEagle{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
#LadogaBottom{
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}
#LemonGate{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
#ItmeoBranding{
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
#ZeusMiracle{
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}